gov-price-etl/dify_workflows/l3_kb_retriever.yml
app:
  description: '知识库检索 breed → 返回 raw chunks（Python 端解析）'
  icon: book
  icon_background: '#E4F2EB'
  mode: workflow
  name: l3_kb_retriever
  use_icon_as_answer_icon: false

kind: app
version: 0.1.5

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: knowledge-retrieval
        id: edge-start-kr
        source: start
        sourceHandle: source
        target: kr
        targetHandle: target
      - data:
          isInIteration: false
          sourceType: knowledge-retrieval
          targetType: answer
        id: edge-kr-end
        source: kr
        sourceHandle: source
        target: end
        targetHandle: target
    nodes:
      - data:
          title: 开始
          type: start
          variables:
            - allowed_file_types: []
              allowed_file_upload_methods:
                - local_file
                - remote_url
              description: 建筑材料品种名
              label: breed
              max_length: 200
              options: []
              required: true
              type: text-input
              variable: breed
        height: 90
        id: start
        position:
          x: 80
          y: 280
        positionAbsolute:
          x: 80
          y: 280
        type: custom
        width: 244
      - data:
          dataset_ids:
            - REPLACE_WITH_KB_DATASET_ID
          multiple_retrieval_config:
            top_k: 10
            score_threshold: 0.5
            reranking_enable: false
          query_variable_selector:
            - start
            - breed
          title: 知识库检索
          type: knowledge-retrieval
        height: 100
        id: kr
        position:
          x: 400
          y: 280
        positionAbsolute:
          x: 400
          y: 280
        type: custom
        width: 244
      - data:
          answer: '{{#sys.query#}} 的 KB 检索结果: {{#kr.result#}}'
          title: 输出
          type: answer
        height: 107
        id: end
        position:
          x: 720
          y: 280
        positionAbsolute:
          x: 720
          y: 280
        type: custom
        width: 244
