gov-price-etl/dify_workflows/建材规格解析.yml
app:
  description: '建材规格解析 ETL 工作流。


    用途：从建材规格文本（如 2000×1000×10、DN80、C30、Φ25×12m）提取结构化业务属性（diameter / length / width
    / thickness / grade / material 等），并生成可执行的 Python 正则解析规则（pattern + code_block）。


    输入：1~20 条规格文本（按行分隔）

    输出：results 数组（每条规格一个解析对象，含 attr/note/pattern/code_block）、ok/err_msg/raw 可观测字段

    优先级：本地 breed_spec_rules.db 精确匹配 > 本地关键词相似度 > LLM 推理


    适用场景：gov-price-etl 价格入库后的规格归一化与解析规则沉淀。

    维护：scripts/dify_export.py 从 prompts.yml 自动生成（不要手工改本 DSL）。'
  icon: 🔧
  icon_background: '#D1E9FF'
  icon_type: emoji
  mode: workflow
  name: 建材规格解析
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/minimax:0.0.22@defec8126d46e6427574978827f03e8dd0a4db76985f6004e75ec644a69fc060
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: end
      id: 006bf74405524dcd
      source: start
      sourceHandle: source
      target: llm_parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: start
        targetType: end
      id: 8721a2f4840b4c16
      source: llm_parse
      sourceHandle: source
      target: code_parse2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: start
        targetType: end
      id: 36ae704ee3d44367
      source: code_parse2
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 定义工作流输入参数与入参约束（类型、必填、默认值）
        selected: false
        title: 输入参数
        type: start
        variables:
        - label: 规格文本列表（待解析项）
          max_length: 50000
          options: []
          placeholder: '每行格式：[N] 规格: <规格文本> | 产品: <产品提示> | 分类: <分类提示>'
          required: true
          type: text-input
          variable: specs_str
        - default: diameter, length, width, height, thickness, grade, material, pressure,
            voltage, power
          label: 属性命名参考集
          max_length: 5000
          options: []
          placeholder: 逗号分隔的属性名候选（如 diameter, length, thickness）
          required: true
          type: text-input
          variable: ref_names
        - default: 20
          label: 批大小（本次规格条数）
          options: []
          required: true
          type: number
          variable: batch_size
      height: 205
      id: start
      position:
        x: 30
        y: 300
      positionAbsolute:
        x: 30
        y: 300
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 依据 prompts.yml/batch_spec_parse 调用 LLM 从规格文本中抽取结构化业务属性与解析规则
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: cf5f95d8-3b5e-40d7-b032-54df8c7d1cb9
          role: system
          text: "你是建材规格解析规则生成专家。\n\n任务：\n根据规格文本生成解析规则，做长期规则库使用。\n\n输出要求：\n只输出合法 JSON。\n\
            禁止输出 markdown。\n禁止输出解释、注释、思考过程。\n输入几条输出几条，顺序保持一致。\n重要规则：\n\n【属性】\n一个业务属性对应一个\
            \ suggestion\n同一属性只能出现一次\n复合规格必须拆分（每 attr 一条 suggestion）\n不允许 suggestion\
            \ 为空\n\n【Pattern】\n一个 pattern 对应一个 attr\npattern 只能有一个捕获组\n必须直接捕获最终值\n\
            优先使用业务关键字：DN、Φ、δ、电压、功率、频率\n尺寸分隔符：[×xX＊*╳]\n\n【单位】\n\n根据材料性质进行推断\n\n【硬约束】\n\
            type / material / spec 三个字段禁止等于或包含原始整段规格。\ndiameter 字段值必须是 ≤ 500 的纯数字\
            \ + mm，否则视为粘连，需强制拆分 DN + 单位。\n三段式规格（W*H厚度T）必须同时给出 width / height / thickness\
            \ 三字段，缺一不可。\n水泥类（PO/PC/PSA + 数字 + MPa）只输出 strength，不输出 grade。\n等级字段（如\
            \ M5、M10、42.5）保留不带长度单位。\n输入中文短语（如\"强度等级M5\"）只输出 grade/mix_grade，不得输出 type/material\
            \ \n\n【输出 schema】\n\n每条 input spec 对应一个 JSON 对象，整个 batch 包成数组：\n\n[\n\
            {\n\"ok\": true,\n\"suggestions\": [\n{\n\"note\": \"中文短句：本规则针对哪种规格写法\"\
            ,\n\"attr\": \"干净属性名（diameter / thickness / core_count 等）\",\n\"pattern\"\
            : \"regex 源码，不含 r 前缀，建议带 ^...$\",\n\"code_block\": \"Python 3 代码（单行或 \\\
            n 换行），re.match / re.search 命中后 result[attr] = ...，按需补单位\"\n}\n]\n}\n]\n\
            \n【CodeBlock · 示例 1：DN 单 attr】\n\n输入 \"DN150\"，输出 1 条：\n\n[\n{\"ok\":\
            \ true, \"suggestions\": [\n{\"note\": \"DN 数字直径\", \"attr\": \"diameter\"\
            ,\n\"pattern\": \"^DN(\\d+)$\",\n\"code_block\": \"m = re.match(r'^DN(\\\
            d+)$', s); if m: result['diameter'] = m.group(1) \"}\n]}\n]\n\n【CodeBlock\
            \ · 示例 2：复合三段式】\n\n输入 \"2000×1000×10\"，输出 3 条：\n\n[\n{\"ok\": true, \"\
            suggestions\": [\n{\"note\": \"length 首段\", \"attr\": \"length\",    \
            \ \"pattern\": \"^(\\d+)[×x]\\d+[×x]\\d+$\", \"code_block\": \"m = re.match(r'^(\\\
            d+)[×x]\\d+[×x]\\d+$', s); if m: result['length'] = m.group(1) + 'mm'\"\
            },\n{\"note\": \"width 中段\", \"attr\": \"width\",      \"pattern\": \"\
            ^\\d+×x[×x]\\d+$\", \"code_block\": \"m = re.match(r'^\\d+×x[×x]\\d+$',\
            \ s); if m: result['width'] = m.group(1) + 'mm'\"},\n{\"note\": \"thickness\
            \ 末段\", \"attr\": \"thickness\", \"pattern\": \"^\\d+[×x]\\d+×x$\", \"\
            code_block\": \"m = re.match(r'^\\d+[×x]\\d+×x$', s); if m: result['thickness']\
            \ = m.group(1) + 'mm'\"}\n]}\n]\n\n【CodeBlock · 示例 3：DN+MPa 强制拆分】\n\n\
            输入 \"DN1501.6MPa\"，输出 2 条（按硬约束 #2 拆）：\n\n[\n{\"ok\": true, \"suggestions\"\
            : [\n{\"note\": \"diameter DN 后纯数字\", \"attr\": \"diameter\", \"pattern\"\
            : \"^DN(\\d+)\",\n\"code_block\": \"m = re.match(r'^DN(\\d+)', s); if\
            \ m: result['diameter'] = m.group(1) + 'mm'\"},\n{\"note\": \"pressure\
            \ 末尾 MPa 段\", \"attr\": \"pressure\", \"pattern\": \"(\\d*\\.?\\d+(?:MPa|BAR|bar))$\"\
            ,\n\"code_block\": \"m = re.search(r'(\\d*\\.?\\d+(?:MPa|BAR|bar))$',\
            \ s); if m: result['pressure'] = m.group(1) \"}\n]}\n]\n\n【CodeBlock ·\
            \ 示例 4：电缆主芯优先】\n\n输入 \"3×25+2×16\"，输出 2 条（按硬约束 — 主芯优先）：\n\n[\n{\"ok\"\
            : true, \"suggestions\": [\n{\"note\": \"core_count 主芯数\", \"attr\": \"\
            core_count\",\n\"pattern\": \"^(\\d+)(?:\\+\\d+)?\\s*[×x]\",\n\"code_block\"\
            : \"m = re.match(r'^(\\d+)', s); if m: result['core_count'] = m.group(1)\"\
            },\n{\"note\": \"cross_section_area 主芯截面（MAX）\", \"attr\": \"cross_section_area\"\
            ,\n\"pattern\": \"(\\d+(?:\\.\\d+)?)(?:mm²|$|\\+|\\D*$)\",\n\"code_block\"\
            : \"nums = re.findall(r'\\d+(?:\\.\\d+)?', s); m = max(nums) if nums else\
            \ ''; result['cross_section_area'] = str(m)  if m else ''\"}\n]}\n]\n\n\
            【输出规范 — 必须遵守】\n1. JSON 结构：每个数组 item 必须是\n   {\"ok\": true, \"suggestions\"\
            : [...], \"confidence\": 0.0~1.0}\n   - 严禁裸 {\"note\": ...} 直接摆在数组里\n\
            \   - 多个 attr 必须在同一 item 的 suggestions 数组里\n   - 单 item 内同一 attr 严禁重复\n\
            2. pattern 字段：\n   - 是 Python re.compile 能编译的字符串\n   - 必须含正则元字符 ()[]|\
            \ 或转义符 \\d \\w \\s\n   - 不能是 ^(.*)$ 或 ^.+$ 或 ^.* 这种全匹配\n   - 多个数字捕获时，code\
            \ 里 group(N) 的 N 不能超过 pattern 里 ( 的数量\n3. code_block 字段：Python 3 合法语法\n\
            \   - 字符串拼接必须用 +，禁止裸相邻：\"m.group(1) + 'mm'\" 而非 \"m.group(1)mm\"\n   -\
            \ 只允许写 result['xxx'] = ...，严禁顶层变量赋值\n   - 必须从 m.group(N) 或 m.groups()\
            \ 提取值\n   - 禁止 result['xxx'] = '字符串字面量' 这种赋值（attr 值必须来自捕获组）\n4. attr 字段：优先使用以下参考名称\n\
            \   -{{#start.ref_names#}}\n5. 数值类 attr（diameter/length/width/height/thickness/grade/\n\
            \   strength/pressure/weight）的 value 必须含数字+单位\n   （mm / cm / m / MPa /\
            \ KN / kg / 级 等），纯数字不通过\n6. 如果 spec 真的无结构信息（纯中文短句，无任何数字/字母符号）\n   不要返回任何规则（item.ok=false\
            \ 或 items=[]）\n7. confidence 字段：0.0~1.0，AI 自评。"
        - id: 1109866a-14ab-4c99-8609-adcc06503dbd
          role: user
          text: '规格列表：

            {{#start.specs_str#}}

            '
        selected: false
        structured_output_enabled: false
        title: 规格解析推理（LLM）
        type: llm
        variables:
        - value_selector:
          - start
          - specs_str
          variable: specs_str
        - value_selector:
          - start
          - ref_names
          variable: ref_names
        - value_selector:
          - start
          - batch_size
          variable: batch_size
        vision:
          enabled: false
      height: 148
      id: llm_parse
      position:
        x: 334
        y: 321
      positionAbsolute:
        x: 334
        y: 321
      selected: true
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\n\ndef _extract_json(text: str) -> str:\n\
          \    text = (text or \"\").strip()\n\n    # 去掉 think 标签\n    text = re.sub(\n\
          \        r\"<think>.*?</think>\",\n        \"\",\n        text,\n      \
          \  flags=re.S | re.I,\n    ).strip()\n\n    # 去掉 markdown json\n    m =\
          \ re.search(\n        r\"```(?:json)?\\s*([\\s\\S]*?)```\",\n        text,\n\
          \        re.I,\n    )\n    if m:\n        text = m.group(1).strip()\n\n\
          \    # 优先找 JSON 数组：[ { ... } ]\n    m = re.search(\n        r\"(\\[\\s*\\\
          {[\\s\\S]*\\}\\s*\\])\",\n        text,\n        re.S,\n    )\n    if m:\n\
          \        return m.group(1).strip()\n\n    # 再找 JSON 对象：{ ... }\n    m =\
          \ re.search(\n        r\"(\\{[\\s\\S]*\\})\",\n        text,\n        re.S,\n\
          \    )\n    if m:\n        return m.group(1).strip()\n\n    return \"\"\n\
          \n\ndef _repair_json(text: str) -> str:\n    text = text or \"\"\n\n   \
          \ # 去掉尾逗号\n    text = re.sub(\n        r\",\\s*([\\]}])\",\n        r\"\\\
          1\",\n        text,\n    )\n\n    return text\n\n\ndef main(llm_output):\n\
          \    out = {\n        \"ok\": False,\n        \"results\": [],\n       \
          \ \"err_msg\": \"\",\n    }\n\n    try:\n        raw = _extract_json(llm_output)\n\
          \n        if not raw:\n            out[\"err_msg\"] = \"json not found\"\
          \n            return out\n\n        raw = _repair_json(raw)\n\n        try:\n\
          \            data = json.loads(raw)\n        except Exception:\n       \
          \     # 再尝试修一次\n            raw = re.sub(\n                r\",\\s*([\\\
          ]}])\",\n                r\"\\1\",\n                raw,\n            )\n\
          \            data = json.loads(raw)\n\n        # 顶层数组\n        if isinstance(data,\
          \ list):\n            out[\"ok\"] = True\n            out[\"results\"] =\
          \ data\n            return out\n\n        # {\"results\":[...]}\n      \
          \  if (\n            isinstance(data, dict)\n            and isinstance(data.get(\"\
          results\"), list)\n        ):\n            out[\"ok\"] = True\n        \
          \    out[\"results\"] = data[\"results\"]\n            return out\n\n  \
          \      # 单个对象\n        if isinstance(data, dict):\n            out[\"ok\"\
          ] = True\n            out[\"results\"] = [data]\n            return out\n\
          \n        out[\"err_msg\"] = (\n            \"unexpected type: \"\n    \
          \        + type(data).__name__\n        )\n        return out\n\n    except\
          \ Exception as e:\n        out[\"err_msg\"] = str(e)\n        return out"
        code_language: python3
        desc: 从 LLM 输出中健壮提取 JSON（剥离 ``` 围栏、前缀说明、尾部注释），并按 Dify 声明类型反序列化
        outputs:
          err_msg:
            children: null
            type: string
          ok:
            children: null
            type: boolean
          results:
            children: null
            type: array[object]
        selected: false
        title: JSON 提取与结构化
        type: code
        variables:
        - value_selector:
          - llm_parse
          - text
          variable: llm_output
      height: 112
      id: code_parse2
      position:
        x: 642.1472
        y: 321
      positionAbsolute:
        x: 642.1472
        y: 321
      selected: false
      type: custom
      width: 242
    - data:
        desc: 对外暴露的工作流输出：results 为规格解析结果数组，ok/err_msg/raw 用于调用方可观测性
        outputs:
        - value_selector:
          - code_parse2
          - ok
          variable: ok
        - value_selector:
          - code_parse2
          - results
          variable: results
        - value_selector:
          - code_parse2
          - err_msg
          variable: err_msg
        selected: false
        title: 工作流输出
        type: end
      height: 200
      id: end
      position:
        x: 958.4449866354487
        y: 321
      positionAbsolute:
        x: 958.4449866354487
        y: 321
      selected: false
      type: custom
      width: 242
    viewport:
      x: 56.18986617126859
      y: 127.32641322936468
      zoom: 1.0716712274836944
  rag_pipeline_variables: []
